# Material no visto
ii_ciclo/*

i_ciclo/exámenes/
i_ciclo/tareas/
i_ciclo/ejercicios/*

# Visibles
!i_ciclo/ejercicios/
!i_ciclo/ejercicios/ciclo_for/
!i_ciclo/ejercicios/ciclo_while/
!i_ciclo/ejercicios/estructuras_de_datos/
!i_ciclo/ejercicios/funciones/
!i_ciclo/ejercicios/otros/