# Material no visible
i_ciclo/exámenes/
i_ciclo/tareas/
i_ciclo/ejercicios/*

ii_ciclo/exámenes/
ii_ciclo/tareas/

# Visibles
!i_ciclo/ejercicios/
!i_ciclo/ejercicios/ciclo_for/
!i_ciclo/ejercicios/ciclo_while/
!i_ciclo/ejercicios/estructuras_de_datos/
!i_ciclo/ejercicios/funciones/